[Unit]
Description=Check Voice Partition backend updates every minute

[Timer]
OnBootSec=45s
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true
Unit=voice-partition-update.service

[Install]
WantedBy=timers.target
